/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: rgb(255, 255, 255);
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

section {
    padding: 50px 0;
    text-align: center;
}

footer {
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
h2{
    background-color: #333;
}
.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    padding-top: ;
}